<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Pname:</b>
  <%= @event.pname %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>City:</b>
  <%= @event.city %>
</p>

<p>
  <b>State:</b>
  <%= @event.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @event.zipcode %>
</p>

<p>
  <b>Partystarttime:</b>
  <%= @event.partystarttime.strftime("at %I:%M%p") %>
</p>

<p>
  <b>Partyendtime:</b>
  <%= @event.partyendtime, :format => :short %>
</p>

<p>
  <b>Ladiesinfree:</b>
  <%= @event.ladiesinfree %>
</p>

<p>
  <b>Guestlistcutofftime:</b>
  <%= @event.guestlistcutofftime, :format => :short %>
</p>

<p>
  <b>Everybodyinfree:</b>
  <%= @event.everybodyinfree %>
</p>

<p>
  <b>Everyfreeuntil:</b>
  <%= @event.everyfreeuntil, :format => :short %>
</p>

<p>
  <b>Industryevent:</b>
  <%= @event.industryevent %>
</p>

<p>
  <b>Celebappearance:</b>
  <%= @event.celebappearance %>
</p>

<p>
  <b>Drinkspecials:</b>
  <%= @event.drinkspecials %>
</p>

<p>
  <b>Drinkspecialsuntil:</b>
  <%= @event.drinkspecialsuntil, :format => :short %>
</p>

<p>
  <b>Guestlist:</b>
  <%= @event.guestlist %>
</p>

<p>
  <b>Cost1:</b>
  <%= @event.cost1 %>
</p>

<p>
  <b>Cost2:</b>
  <%= @event.cost2 %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
